## Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conjuntos en Python

In [17]:
set_countries = {"Col", "Mex", "Bol"}
print(set_countries)
print(type(set_countries))

{'Mex', 'Col', 'Bol'}
<class 'set'>

In [18]:
set_numbers = (1, 2, 2, 3, 454, 666, 333)
print(set_numbers)

(1, 2, 2, 3, 454, 666, 333)

In [19]:
set_types = {1, 'hola', False, 12.12}
print(set_types)
print(type(set_types))

{False, 1, 'hola', 12.12}
<class 'set'>

In [20]:
set_from_string = set('hola')
print(set_from_string)

{'l', 'a', 'o', 'h'}

In [21]:
set_from_string2 = set('hooola')
print(set_from_string2)

{'l', 'a', 'o', 'h'}

In [22]:
set_from_tuple = set(('abc', 'cbd', 123, 'ghy'))
print(set_from_tuple)

{'abc', 123, 'cbd', 'ghy'}

## Manipulaci√≥n de Conjuntos

In [23]:
set_countries = {"Col", "Mex", "Arg"}
size = len(set_countries)

In [24]:
print(size)

3

In [26]:
# add
set_countries.add("Pe")
print(set_countries)

# update
set_countries.update({"Ecua", "Bol", "Pe"})
print(set_countries)

{'Pe', 'Mex', 'Col', 'Arg'}
{'Mex', 'Ecua', 'Bol', 'Pe', 'Col', 'Arg'}

In [27]:
# Remove

set_countries.remove("Pe")
print(set_countries)

{'Mex', 'Ecua', 'Bol', 'Col', 'Arg'}

In [28]:
set_countries.clear()
print(set_countries)

set()

## Operaciones Fundamentales con Conjuntos en Python

In [30]:
# Union
set_a = {"Col", "Mex", "Arg"}
set_b = {"Bra", "Arg"}

set_c = set_a.union(set_b)
print(set_c)
print(set_a | set_b)

{'Mex', 'Bra', 'Col', 'Arg'}
{'Mex', 'Bra', 'Col', 'Arg'}

In [32]:
# Interseccion
set_c = set_a.intersection(set_b)
print(set_c)

print(set_a & set_b)

{'Arg'}
{'Arg'}

In [33]:
# Difference

set_c = set_a.difference(set_b)
print(set_c)

print(set_a - set_b)

{'Mex', 'Col'}
{'Mex', 'Col'}

In [34]:
# Symetric diffetence

set_c = set_a.symmetric_difference(set_b)
print(set_c)

print(set_a ^ set_b )

{'Mex', 'Bra', 'Col'}
{'Mex', 'Bra', 'Col'}

## List Comprehension

In [44]:
numbers = [element for element in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
numbers = [element  * 2 for element in range(1, 11)]
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
numbers = [i for i in range(1, 11) if i % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10]

In [45]:
numbers = [i  * 2 for i in range(1, 11) if i % 2 == 0]
print(numbers)

[4, 8, 12, 16, 20]