In [9]:
import pandas as pd
import sklearn

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('data/whr2017.csv')
df.head()

       country  rank  score  ...  generosity  corruption  dystopia
0       Norway     1  7.537  ...    0.362012    0.315964  2.277027
1      Denmark     2  7.522  ...    0.355280    0.400770  2.313707
2      Iceland     3  7.504  ...    0.475540    0.153527  2.322715
3  Switzerland     4  7.494  ...    0.290549    0.367007  2.276716
4      Finland     5  7.469  ...    0.245483    0.382612  2.430182

[5 rows x 12 columns]

In [3]:
df.describe()

             rank       score        high  ...  generosity  corruption    dystopia
count  155.000000  155.000000  155.000000  ...  155.000000  155.000000  155.000000
mean    78.000000    5.354019    5.452326  ...    0.246883    0.123120    1.850238
std     44.888751    1.131230    1.118542  ...    0.134780    0.101661    0.500028
min      1.000000    2.693000    2.864884  ...    0.000000    0.000000    0.377914
25%     39.500000    4.505500    4.608172  ...    0.154106    0.057271    1.591291
50%     78.000000    5.279000    5.370032  ...    0.231538    0.089848    1.832910
75%    116.500000    6.101500    6.194600  ...    0.323762    0.153296    2.144654
max    155.000000    7.537000    7.622030  ...    0.838075    0.464308    3.117485

[8 rows x 11 columns]

In [4]:
X = df[['gdp', 'family', 'lifexp', 'freedom', 'corruption', 'generosity', 'dystopia']]
y = df['score']

In [5]:
X.shape

(155, 7)

In [6]:
y.shape

(155,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [10]:
modelLinear = LinearRegression().fit(X_train, y_train)
y_pred = modelLinear.predict(X_test)

In [11]:
modelLasso = Lasso(alpha=0.02).fit(X_train, y_train)
y_pred_lasso = modelLasso.predict(X_test)

In [12]:
modelRidge = Ridge(alpha=1).fit(X_train, y_train)
y_pred_ridge = modelRidge.predict(X_test)

In [13]:
linear_loss = mean_squared_error(y_test, y_pred)
lasso_loss = mean_squared_error(y_test, y_pred_lasso)
ridge_loss = mean_squared_error(y_test, y_pred_ridge)
print(f'Linear Regression MSE: {linear_loss}')
print(f'Lasso Regression MSE: {lasso_loss}')
print(f'Ridge Regression MSE: {ridge_loss}')

Linear Regression MSE: 8.145706833110327e-08
Lasso Regression MSE: 0.06278794274102871
Ridge Regression MSE: 0.00793265210640786

In [14]:
print(modelLasso.coef_)
print(modelRidge.coef_)

[1.3316799  0.94094756 0.46145413 0.48768393 0.         0.34162956
 0.9373992 ]
[1.08612498 0.96893227 0.85889943 0.84172944 0.5897805  0.78001922
 0.9739158 ]