### Importar las librerias principales

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [15]:
df_car = pd.read_csv('data/car_evaluation.csv', header=None)

### Analisis exploratorio

In [16]:
df_car.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [17]:
df_car.shape

(1728, 7)

In [18]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df_car.columns = col_names

In [19]:
df_car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [20]:
df_car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

In [21]:
df_car['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [22]:
df_car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

### Procesamiento de datos

In [23]:
# Separamos en X e Y
X = df_car.drop(['class'], axis=1)
y = df_car['class']

In [24]:
#Importamos las libreiras necesarias para la creacion del modelo
from sklearn.model_selection import train_test_split

# 30% para test y 70% para train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
X_train.shape, X_test.shape

((1209, 6), (519, 6))

In [26]:
y_train.shape, y_test.shape

((1209,), (519,))

In [27]:
X_train.head()

     buying maint  doors persons lug_boot safety
1178    med   med  5more       4      big   high
585    high  high      3    more    small    low
1552    low   med      3       4      med    med
1169    med   med  5more       2      big   high
1033    med  high      4       2      big    med

In [28]:
X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

### Entrenamiento de modelo de clasificacion con arbol de decision