In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {'col1': [1,2,3,np.nan],
 'col2': [4, np.nan,6,7],
 'col3': ['a','b','c',None]}

In [3]:
df = pd.DataFrame(dict)
print(df)

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

If we want to search the data which is null, we could use the following structure, so with that we can obtain a bolean true where the value is null or None

In [4]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

And if we want to change that values for something esle we can use the following structure

In [5]:
df.fillna("Missing")

      col1     col2     col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing