Groupby

In [1]:
import pandas as pd

path = './retail.csv'
df = pd.read_csv(path, encoding='ISO-8859-1')

In [2]:
country_count = df['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [3]:
country_group = df.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [4]:
country_stats = df.groupby('Country')['UnitPrice'].agg(['mean', 'std', 'min', 'max'])
print(country_stats)

                            mean         std       min       max
Country
Australia               3.220612   12.455584      0.00    350.00
Austria                 4.243192    7.355153      0.12     40.00
Bahrain                 4.556316    3.473506      1.25     12.75
Belgium                 3.644335    4.244522      0.12     39.95
Brazil                  4.456250    2.831727      0.85     10.95
Canada                  6.030331   44.713675      0.10    550.94
Channel Islands         4.932124   15.547404      0.19    293.00
Cyprus                  6.302363   22.419586      0.12    320.69
Czech Republic          2.938333    7.098840      0.29     40.00
Denmark                 3.256941    3.960285      0.21     18.00
EIRE                    5.911077   54.035173      0.00   1917.00
European Community      4.820492    4.375808      0.55     18.00
Finland                 5.448705   13.596057      0.12    275.60
France                  5.028864   79.909126      0.00   4161.06
Germany                 3.966930   16.549026      0.00    599.50
Greece                  4.885548    8.470147      0.14     50.00
Hong Kong              42.505208  307.646598      0.21   2653.95
Iceland                 2.644011    2.255381      0.25     12.75
Israel                  3.633131    8.603055      0.06    125.00
Italy                   4.831121   11.812512      0.12    300.00
Japan                   2.276145    3.091514      0.21     45.57
Lebanon                 5.387556    4.068741      0.55     14.95
Lithuania               2.841143    1.366849      1.25      5.95
Malta                   5.244173    9.380447      0.19     65.00
Netherlands             2.738317    6.311412      0.00    206.40
Norway                  6.012026   30.558815      0.00    700.00
Poland                  4.170880    5.908683      0.19     40.00
Portugal                8.582976   71.379996      0.12   1241.98
RSA                     4.277586    3.668432      0.00     14.95
Saudi Arabia            2.411000    1.385131      0.42      5.49
Singapore             109.645808  515.275500      0.19   3949.32
Spain                   4.987544   41.003162      0.00   1715.85
Sweden                  3.910887    8.285089      0.19     40.00
Switzerland             3.403442    5.389581      0.00     40.00
USA                     2.216426    2.261647      0.42     16.95
United Arab Emirates    3.380735    5.342353      0.29     37.50
United Kingdom          4.532422   99.315438 -11062.06  38970.00
Unspecified             2.699574    2.866079      0.19     16.95

In [5]:
country_stock_group = df.groupby(['Country', 'StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [6]:
def total_revenue(group):
    return (group['Quantity'] * group['UnitPrice']).sum()

renueve_per_country = df.groupby('Country').apply(total_revenue)
print(renueve_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

C:\Users\david\AppData\Local\Temp\ipykernel_16472\2100203054.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  renueve_per_country = df.groupby('Country').apply(total_revenue)