In [1]:
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df_heart = pd.read_csv('../data/heart.csv')
df_heart.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   52    1   0       125   212    0  ...      0      1.0      2   2     3       0
1   53    1   0       140   203    1  ...      1      3.1      0   0     3       0
2   70    1   0       145   174    0  ...      1      2.6      0   0     3       0
3   61    1   0       148   203    0  ...      0      0.0      2   1     3       0
4   62    0   0       138   294    1  ...      0      1.9      1   3     2       0

[5 rows x 14 columns]

In [3]:
df_heart['target'].describe()

count    1025.000000
mean        0.513171
std         0.500070
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: target, dtype: float64

In [5]:
X = df_heart.drop(['target'], axis=1)
y = df_heart['target']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

In [7]:
knn_class = KNeighborsClassifier().fit(X_train, y_train)
knn_pred = knn_class.predict(X_test)
knn_acc = accuracy_score(knn_pred, y_test)
print(f'KNN Accuracy: {knn_acc:.2f}')

KNN Accuracy: 0.72

In [9]:
bag_class = BaggingClassifier(estimator=KNeighborsClassifier(), n_estimators=50).fit(X_train, y_train)
bag_pred = bag_class.predict(X_test)
bag_acc = accuracy_score(bag_pred, y_test)
print(f'Bagging KNN Accuracy: {bag_acc:.2f}')

Bagging KNN Accuracy: 0.74